.page__header {
  height: 183px;
}

.header__menu {
  height: 58px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 5%;
  align-items: center;
  box-shadow: 0px 4px 30px -10px var(--shadow-container);
}

.menu__titulo {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--color-brand-1);
}

.menu__container {
  display: flex;
  justify-content: flex-end;
  margin: 9px;
}

.container__interacao {
  display: none;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.container__botao {
  width: fit-content;
  padding: 0px 12px;
  height: 30px;
  margin: 5px 8px;
  border-radius: 3px;
  color: var(--color-blue);
  background-color: var(--color-brand-2);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.menu__container__foto {
  background-image: url("../assets/user-svgrepo-com.svg");
  background-size: 130%;
  background-position: center;
  margin-top: 12.5px;
  width: 40px;
  height: 40px;
  border: 2px var(--color-brand-1) solid;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.menu__foto {
  width: 36px;
  height: 36px;
}

.header__perfil {
  height: 125px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  background-color: var(--color-brand-1);
  box-shadow: 0px 4px 30px -10px var(--color-black-fade);
}

.header__perfil-container {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

.perfil__container__foto {
  background-image: url("../assets/user-svgrepo-com.svg");
  background-color: var(--color-white);
  background-size: 130%;
  background-position: center;
  width: 60px;
  height: 60px;
  border: 2px var(--color-white) solid;
  border-radius: 30px;
  overflow: hidden;
}

.perfil__foto {
  width: 100%;
  height: 100%;
}

.perfil__titulo {
  width: fit-content;
  height: 100%;
  padding-left: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-white);
  margin: 0;
}

.page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.intro__title {
  font-weight: 700;
  margin: 1rem 0;
}

.intro__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options__filter {
  cursor: pointer;
  color: var(--color-black-1);
  font-weight: 500;
  transition: 200ms;
}

.options__filter:hover {
  color: var(--color-brand-1);
}

.submit-button {
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 0.5rem 1.75rem;
  color: var(--color-white);
  background-color: var(--color-brand-1);
  font-weight: 600;
  cursor: pointer;
}

.content__table {
  width: 100%;
}

.table__description,
.table__category {
  display: none;
}

.table__header {
  font-weight: 500;
  color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.75rem;
}

.table-header__title--habit-title {
  text-align: start;
  line-height: 1rem;
  width: 45%;
}

.table-header__title--status,
.table-header__title--editor {
  width: 15%;
  text-align: center;
}

.list__habit {
  border-top: solid 1px var(--color-grey-2);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: 200ms;
}

.list__habit:hover {
  background-color: var(--color-grey-2);
}

.habit__checkbox,
.habit__editor {
  width: 15%;
  background-repeat: no-repeat;
  background-position: center;
}

.habit__checkbox {
  background-image: url("../assets/checkboxFALSE-svgrepo.svg");
  background-size: 1.25rem;
}

.habit__title,
.habit__description {
  width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1rem;
}

.category__tag {
  background-color: var(--color-brand-3);
  color: var(--color-brand-1);
  font-size: 0.9rem;
  padding: 0.2rem 0.75rem;
  border-radius: 4px;
}

.habit__editor {
  background-image: url("../assets/ellipsis-h-svgrepo-com.svg");
  background-size: 1.5rem;
  opacity: 30%;
  transition: 500ms;
}

.habit__editor:hover {
  opacity: 100%;
}

.habit__checkbox--mark {
  background-image: url("../assets/checkboxTRUE-svgrepo-com.svg");
}

.table__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-3);
  font-weight: 600;
  height: 10rem;
  border-top: 1px solid;
}

.content__expand {
  margin: 2rem;
}

.complete {
  background-color: var(--color-whitesmoke);
}

.scratch {
  text-decoration: line-through;
}

.hide {
  display: none;
}

/*  Menu Drop Down */

.figureDropDown {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content li {
  color: #fff;
  padding: 16px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  color: blue;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Inicio DropDown Media Querie */

/* @media (max-width: 320px){
  .dropdown {
    margin-right: 50px;
  }

} */

/* Final DropDown Media Querie */

.modal-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-fade);
  justify-content: center;
  align-items: center;
  
}

.modal-open {
  display: flex;
}

/* inicio Media Querie 320px com EventListner ao "click" do but達o Criar!! */
@media (max-width: 320px) {
  .modal__Container {
    display: none;
    position: fixed;
    width: 305px;
    height: 470px;
    left: 9px;
    top: 29px;
    background-color: #FFF;
    border-radius: 10px;
  }
  
  .form__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .form-header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
  }
  
  .section__container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 20px;
    gap: 15px;
  }
  
  .section__container label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #343A40;
  }
  
  .section__container input[id="inputTitulo"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__container input[id="inputDescription"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__container select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__inserirBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    position: absolute;
    width: 277px;
    height: 40px;
    left: 14px;
    top: 406px;
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .form__button--submit {
    font-size: 20px;
    font-weight: bold;
    color: #ADB5BD;
    cursor: pointer;
  
  }
  
  #selectCategoria option {
    width: 100px;
  }
}

/* Final Media Querie 320px com EventListner ao "click" do but達o Criar!! */

/* Inicio Media Querie 321px com EventListner ao "click" do but達o Criar!! */

@media (min-width: 321px) {
  .modal__Container {
    display: block;
    position: fixed;
    width: 305px;
    height: 470px;
    left: 550px;
    top: 114px;
    background-color: #FFF;
    border-radius: 10px;
  }
  
  .form__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .form-header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
  }
  
  .section__container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 20px;
    gap: 15px;
  }
  
  .section__container label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #343A40;
  }
  
  .section__container input[id="inputTitulo"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__container input[id="inputDescription"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__container select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .section__inserirBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    position: absolute;
    width: 277px;
    height: 40px;
    left: 14px;
    top: 406px;
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .form__button--submit {
    font-size: 20px;
    font-weight: bold;
    color: #ADB5BD;
    cursor: pointer;
  
  }
  
  #selectCategoria option {
    width: 100px;
  }
}

/* Final Media Querie 321px com EventListner ao "click" do but達o Criar!! */

@media (min-width: 460px) {
  .header__menu {
    justify-content: space-between;
    padding: 0 15%;
  }

  .header__perfil {
    padding: 0 15%;
  }

  .header__perfil-container {
    margin-bottom: unset;
  }

  .perfil__titulo {
    height: 24px;
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) {
  .container__interacao {
    display: flex;
  }

  .content__intro {
    width: 95%;
    max-width: 60rem;
    flex-direction: row;
    padding: 1rem 0;
  }

  .intro__title {
    font-size: 1.2rem;
  }

  .intro__options {
    gap: 2rem;
  }

  .content__table {
    border: 1px solid var(--color-grey-2);
    border-radius: 4px;
    width: 95%;
    max-width: 60rem;
  }

  .table__description,
  .table__category {
    display: unset;
    width: 20%;
  }
}
