:root {
    --blue-button: #415AF3;
}

@keyframes jumping {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.1); 
    }

    100% {
        transform: scale(1);
    }
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    background-color: var(--blue-button);
    z-index: 100;
    top: 0;
    left: 0;
    gap:20px;

}
.callModal {
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    animation: jumping 2s infinite;
    background-color: #fff  ;
    color: var(--blue-button);
}



.modal.creatHabit {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 350px;
    background:#FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    gap: 24px;
}

.modal.editHabit {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 420px;
    background:#FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    gap: 24px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.modal__title {

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.box__actions{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    gap: 1px;
    margin-bottom:1px;
}

.box__actions.title {
    height: 30px;
    margin-bottom: 35px;
}

.box__actions.description {
    max-width: 100%;
    max-height: 90px;
    /* margin-bottom: 30px; */
}

.box__actions.URLDaImagemDoPerfil {
    height: 67px;
}

.title {
    font-size: 12px;
    color: #343A40;
}

.title.title {
    display: flex;
    flex-direction: column;
}

.title.checkbox {
    width: 100%;
    margin: 0;
}

.status__checkbox {
    width: 10px;
    height: 10px;
}

.textArea {
    max-width: 90%;
    max-height: 35px;
    outline: 0;
    background: #F1F3F5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.textArea.description {
    font-family: 'Inter';
    font-style: normal;
    max-height: 50px;
}

.status__checkbox{
    width: 10px;
}

.container__box button {
    display: flex;
    gap: 3px;
}

.container__box button {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3px;
}

.modal__submit {
    border: none;
    border-radius: 5px;
    background: var(--blue-button);
    padding: 5px;
    color: #fff;
}

.modal__submit.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    background: #F1F3F5;
    color: #343A40;

}

.modal__submit.save {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    background: #F1F3F5;
    color: #343A40;

}

.modalEditProfile {
    width: 450px;
    height:240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 15px;
    background: #FFFFFF;
    border-radius: 8px;
}

#tres{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 18px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
}

.botaoSalvarPerfil{
    width: 43.7vh;
    height: 7.0vh;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 600;
    background: var(--blue-button);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}
fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}